<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331868612385-9vjn5bmk982pr6v9feictbsagra28kab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331868612385-9vjn5bmk982pr6v9feictbsagra28kab</string>
	<key>API_KEY</key>
	<string>AIzaSyC3zX2aCj55BCXPiObWCtQP204xndLfffM</string>
	<key>GCM_SENDER_ID</key>
	<string>331868612385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.NewsApp</string>
	<key>PROJECT_ID</key>
	<string>newsapp-85381</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-85381.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331868612385:ios:cedf058cd1babab21d0060</string>
</dict>
</plist>